body {
    font-family: 'Source Code Pro', monospace;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background: url(img/bg.jpg);
    color: #fff;
    padding: 2rem;
    text-align: left;
}

.caja {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 7%;
}

nav {
    position: absolute;
    top: 10px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s color;
}

nav a:hover {
    color: deepskyblue;
}

nav a:active {
    color: deeppink;
}

main {
    width: 90%;
    margin: 0 auto;
}

 /*CSS pagina Home*/
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
    clear: left;
}

.principal p {
    margin: 1rem 0;
}

.principal strong {
    font-weight: 700;
}

.androide {
    width: 200px;
    float: left;
    margin: 0 1rem;
}

.mapa {
    padding: 2rem 0;
    text-align: center;
}

.mapa p {
    font-size: 1rem;
    font-weight: 700;
}

.imagenDiferenciadores {
    width: 60%;
}





/*CSS pagina Productos*/
.productos {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px;
    box-sizing: border-box;
    border-color: #f0f0f0;
    border: 3px solid #0C0C0C;
    border-radius: 24px;
}

.productos li:hover {
    border-color: deepskyblue;
}

.productos li:active {
    border-color: deeppink;
}

.productos h2 {
    font-size: 2rem;
    font-weight: 700;
}

.productos li:hover h2 {
    font-size: 2.4rem;
}

.productos img {
    width: 300px;
    margin: 0;
}

.producto-descripcion {
    font-size: 1.5rem;
    font-weight: 700;
}

.producto-precio {
    font-size: 1.5rem;
    font-weight: 800;
}

/*CSS footer*/
footer {
    background: url(img/bg.jpg);
    color: #fff;
    padding: 2rem;
    text-align: center;
}

footer img {
    width: 10%;
}

.copyright {
    font-size: 1rem;
    font-weight: 700;
}

/*CSS pagina Contacto*/
form {
    margin: 2rem 0;
}

form label, form legend {
    display: block;
    font-size: 1.4rem;
}

form fieldset {
    width: 50%;
    border: none;
}

.input-padron {
    display: block;
    margin: 1rem 0;
    padding: 10px 10px;
    width: 50%;
}

.checkbox {
    margin: 1rem 0;
}

.enviar {
    width: 40%;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background: deepskyblue;
    border: none;
    border-radius: 24px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover {
    background: dodgerblue;
    transform: scale(1.1);
}

table {
    width: 30%;
    margin: 2rem 2rem;
}

thead {
    background: deepskyblue;
    color: #fff;
    font-weight: 700;
}

td {
    padding: 10px;
    text-align: center;
    font-weight: 700;
    border: 1px solid #f0f0f0;
}
